<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content ="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <a href="/users/logout">Logout</a>
        <h1>PROFIL</h1>
        <h1>Hello <%= user %></h1>
    </body>
</html>